# Default owners
* @RedHatInsights/host-based-inventory-committers

# Stakeholders and HBI devs
schemas/system_profile/* @stevehnh @jeromemarc @kahowell @beav @RedHatInsights/host-based-inventory-committers
